

.Body {
  display: flex;
  margin: 0;
  padding: 10px;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.square {
  background-color: rgb(235, 235, 235);
  display: flex;
  width: 50%;
  height: 50vh;
  justify-content: center;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  border-style: dotted;
  border-color: darkblue;
}

.squareText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.inputType {
  display: flex;
  margin: auto;
}

.inputField {
  display: flex;
  background-color: red;
  width: 500px;
  height: 200px;
}

.inputType button {
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  border-style: none;
}